html {
	position: relative;
	min-height: 100%;
}

body {
	/*font-family: 'Roboto';*/
	font-weight: 100; 
	margin-bottom: 60px;
}

/*********************************************************** 
*************** PRELOADER - spinnning CIRCLES **************
* https://ihatetomatoes.net/create-custom-preloading-screen/
***********************************************************/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

/******************* containers *********************/
#header-container {
}

#main-container {
}

#footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.9em;
  /* Set the fixed height of the footer here */
  height: 40px;
  padding-top: 10px;
  background-color: #f5f5f5;
  /*border-top: 1px solid #ccc;*/
}

.navbar-brand {
	font-size: 40px;
	font-family: 'Tangerine';
}

.bg-raspi-logo {
	background: url('../img/background_small.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
}

.sockets-container {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
}

.pin-container {
	height: 2.3em;
	line-height: 2em;
	vertical-align: middle;
	font-weight: bold;
}

.pins-container {
	padding: 10px;
}

.pin-container a {
	padding: 0px 10px 0px 10px;
	
}

.pin {
	width: 2em;
	height: 2em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
	text-align: center;
	line-height:2em;
	font-size: 1em;
	vertical-align:middle;
	/*border: 1px solid #000000;*/
	box-shadow: 0px 0px 2px 1px #242424;
	-webkit-box-shadow: 0px 0px 2px 1px #242424;
	-moz-box-shadow: 0px 0px 2px 1px #242424;
	-o-box-shadow: 0px 0px 2px 1px #242424;
}

.pin-lg {
	width: 150px;
	height: 150px;
	line-height: 150px;
	font-size: 30px;
}

.pin-null {
	background: repeating-linear-gradient(
	  45deg,
	  #CCCCCC,
	  #FFFFFF 2px,
	  #CCCCCC 5px,
	  #FFFFFF 2px
	);
}

.pin-gnd {
	background: #000000;
	color: #FFFFFF;
}

.pin-3v {
	background: #FE9A2E;
}

.pin-5v {
	background: #FF0040;
}

.pin-on {
	background: #04B404;
}

.pin-off {
	background: #CCCCCC;
}

.header5 {
}

.bootstrap-switch-center {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*power switch*/

.btn-power-switch {
  font-family: "FontAwesome";
  font-size: 50px;
  display:block;
  width: 80px;
  height: 80px;
  
  margin: 10px;
  
  line-height:65px;
  background: #AAAAAA;
  color:#000000;
  border-radius: 50%;
  text-shadow: 0px 0px 3px rgb(250,250,250);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 0px 2px 1px #242424;
  -webkit-box-shadow: 0px 0px 2px 1px #242424;
  -moz-box-shadow: 0px 0px 2px 1px #242424;
  -o-box-shadow: 0px 0px 2px 1px #242424;
}

.power-on {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}

.btn-tts {
}

.tile-container {
	font-family: 'Roboto';
	position: relative;
	width: 144px;
	height: 144px;
	float: left;
	margin: 5px;
	background-color: #CCCCCC;
	color:#F3F3F3;
	
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
	box-shadow: 0px 0px 2px 1px #242424;
	-webkit-box-shadow: 0px 0px 2px 1px #242424;
	-moz-box-shadow: 0px 0px 2px 1px #242424;
	-o-box-shadow: 0px 0px 2px 1px #242424;
	
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tile-header {
	 text-transform: uppercase;
	 padding-left:2px;
	 font-size: 0.9em;
	 font-weight: 900;
}

.tile-content {
	cursor:pointer;
	text-shadow: 0px 0px 3px rgb(250,250,250);
	line-height: 3em;
	font-size: 3em;
}

.tile-footer {
	width: 100%;
	text-align: right;
	font-size: 0.6em;
	font-weight: lighter;
	position: absolute;
	bottom: 2px;
	right: 4px;
}
