<div class="row">
	<div class="col-md-4 col-sm-3 hidden-xs"></div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<h1 class="center-block text-center"><%= Name %> Details</h1>
		<ul class="list-group">
		  <li class="list-group-item">
	    	<div class="pin pin-lg <%= pinCss %> center-block"><%= Name %></div>		  		
		  </li>  
		  <li class="list-group-item toggle-mode">
			    <button class="btn btn-block btn-primary chk-pin-toggle-mode" type="button">Mode: <%=Value %></button>
		  </li>
		  <li class="list-group-item toggle-value">
		  		<button class="btn btn-block btn-primary chk-pin-toggle-value" type="button">Value: <%=Mode %></button>
		  </li>
		  
		  <li class="list-group-item">
		    Name
		    <span class="pull-right"><%= Name %></span>
		  </li>
		  <li class="list-group-item">
		    wiringPi
		    <span class="pull-right"><%= wiringPi %></span>
		  </li>
		  <li class="list-group-item">
		    BMC/GPIO
		    <span class="pull-right"><%= GPIO %></span>
		  </li>
		  <li class="list-group-item">
		    Physical
		    <span class="pull-right"><%= Phys %></span>
		  </li>
		</ul>
		<hr />
		<p class="text-center">
			<a class="btn btn-primary" href="#pins" >pins</a>
			<a class="btn btn-primary" href="#">home</a>
		</p>
	</div>
	<div class="col-md-4 col-sm-3 hidden-xs"></div>
</div>