<div>wi: <%= wiringPi %></div>
<div>bmc: <%= GPIO %></div>
<div>phys: <%= Phys %></div>
<div>mode: <%= Mode %></div>
<div>value: <%= Value %></div>
<div>Name: <%= Name %></div>

<input class="bt-switch chk-pin-toggle-mode" type="checkbox" name="my-checkbox" data-off-color="primary" data-on-text="IN" data-off-text="OUT" data-indeterminate="<%= (Mode == null)?'true':'false' %>" checked>
<input class="bt-switch chk-pin-toggle-value" type="checkbox" name="my-checkbox" data-on-text="High" data-off-text="Low" data-indeterminate="<%= (Value == null)?'true':'false' %>" <%= Value?'checked':'' %>>
<a class="btn btn-primary" href="#pins" >pins</a>