<div class="pin-container">
	<!--span>wi: <%= wiringPi %></span>|
	<span>bmc: <%= GPIO %></span>|
	<span>phys: <%= Phys %></span>|
	<span>mode: <%= Mode %></span>|
	<span>value: <%= Value %></span>|
	<span>Name: <%= Name %></span>
	<a class="btn btn-xs btn-primary btn-pin-read" data-pin="<%= GPIO %>">read</a> |
	<a class="btn btn-xs btn-primary btn-pin-toggle-mode" data-pin="<%= GPIO %>">toggle mode</a>
	<a class="btn btn-xs btn-primary btn-pin-toggle-val" data-pin="<%= GPIO %>">toggle val</a-->
	<div class="pin <%= pinCss + ' ' +css %>"><%= Phys %></div>&nbsp;
	<div class="<%= css %>"></div>&nbsp; 
	<a class="<%= css %>" href="#pin/<%= Phys %>"><%= Name %></a>&nbsp; 	
</div>