<div class="container-fluid">
	<div class="row">
		<button class="btn btn-default btn-switch" type="submit">
			<div class="btn-switch-text">Lamp</div>
			<i class="fa fa-power-off fa-5x"></i>
			<div class="btn-switch-status">Off</div>
		</button>
		<button class="btn btn-primary btn-switch" type="submit">
			<div class="btn-switch-text">Lamp</div>
			<i class="fa fa-lightbulb-o fa-5x"></i><br />
			<div class="btn-switch-status">On</div>
		</button>
		<button class="btn btn-success btn-switch" type="submit">
			<div class="btn-switch-text">Lamp</div>
			<i class="fa fa-magic fa-5x"></i>
			<div class="btn-switch-status">Auto</div>
		</button>
		<button class="btn btn-warning btn-switch" type="submit">
			<div class="btn-switch-text">Lamp</div>
			<i class="fa fa-clock-o fa-5x"></i>
			<div class="btn-switch-status">Timer</div>
		</button>
	</div>
</div>