<div class="row">
	 <div class="col-md-12 col-sm-12 col-xs-12">
		<h1 class="center-block text-center">Text to speach</h1>
		<textarea id="tts_text" style="width: 100%">Buna sunt Raspi!</textarea>
		<button class="btn btn-primary btn-block btn-tts-text">Say it!</button>
		<hr />
		<button class="btn btn-primary btn-block btn-tts-temp">Temperature</button>
		<button class="btn btn-primary btn-block btn-tts-time">Time</button>
		<hr />
		<a class="btn btn-primary btn-block" href="#">home</a>
		</div>
	 </div>
</div>