body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.main-area {
  padding: 15px;
  margin: 0 auto;
}

.panel-body ul {
	list-style-type: none;
	padding: 0px;
}

.panel-body li {
	margin-bottom: 10px;
}

.gpio input {
	width: 20px;
}
